html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
    
body{

}

div{
    margin: 10rem;
    height: 10rem;

}


.header{
    height: 15vh;
    background-color: linear-gradient(top to bottom, rgba(200,200,200,50), rgba(100,100,100,50));
    border: .5rem black solid;
    width: 80%;
    transform: -50%, -50%;
}

h1{
    font-size: 5rem;
    text-align: center;
    color: black;
    font-family: "Verdana";
}

.images{
    position: relative;
    height: 100%;
    background-color: linear-gradient(left to right, blue, red);
    z-index: 0;
}

.child{
    position: absolute;
    border: .5rem black solid;
    height: 80%;
    z-index: 1;
    left: 5rem;
    top: 5rem; 
}

.child2{
    position: absolute;
    border: .5rem black solid;
    z-index: 1;
    top: 5rem;
    right: 5rem;
    height: 80%
}
